<div class="container">
	<div class="row d-flex">
		<div class="col-6">
			<div class="edit-campaign">
				<h4>Title of campaign</h4>
				<input type="text" >
				<h4>Description</h4>
				<textarea name="" id="" cols="59" rows="5"></textarea>
				<h4>Actions</h4>
				<ul>
					<li>
						<a href=""><img src="images/trash.png" alt=""></a>
					</li>
				</ul>
				<a  href="/createAction" class="new-action">Add Action</a>
				
				<div class="finish-form">
					<a href="" class="cancel">Cancel</a>
					<a class="new-campaign" >Salve campaign</a>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="edit-img">
				<img src="images/loki.jpg" alt="loki">
			</div>
		</div>
	</div>
</div>